li {
  padding: 10px;
  margin: 5px;
  background: #faebd7;
}
ol {
  background: #faebd7;
  margin: 20px;
}

.label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 5px;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
  color: maroon;
}
body {
  padding: 10px;
  margin: 10px;
  background-color: rgb(240, 203, 102);
}
h3 {
  text-align: center;
  margin-bottom: 20px;
}
.submitbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn.btn-light {
  border-color: black;
  margin-left: 15px;
}
.burgerimage {
  height: 250px;
  width: auto;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#burgerimg {
  display: flex;
  justify-content: center;
  align-items: center;
}
